.row.row-cols-1.row-cols-md-2.g-4 {
    margin: 14px;
    justify-content: space-between;
    padding: 160px;
    /* border: 47px; */
}


.total0 {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    color: #dc3545;
}